.fl_upld {
    width: 300px;
}

#fl_inp {
    display: none;
}

.fl_upld label {
    cursor: pointer;
    background: #36c;
    border-radius: 3px;
    padding: 10px 25px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 165px;

}

.fl_upld label:hover {
    background: #fc0;
    flex-wrap: nowrap;
}

#fl_nm {
    margin-top: 25px;
    color: #f00;
}

.block {
    width: 300px;
    height: 350px;
    background: #f1f1f1;
    float: left;
    margin: 0 15px 15px 0;
    text-align: center;
    padding: 10px;
}

.page-information {
    margin: auto;
}

.button {
    margin-top: 10px;
}

.smallCartDiv {
    width: 150px;
    position: fixed;
    top: 0;
    right: 50px;
    margin-top: 200px;
    max-height: 600px;
    overflow: auto;
    font-size: 13px;
    background-color: antiquewhite;
}


.smallCartHeader{
    width: 150px;
    position: fixed;
    top: 0;
    right: 50px;
    margin-top: 145px;
    height: 600px;
    overflow: auto;
    font-size: 13px
}


.tableDiv {
    margin: auto;
    width: 500px;
}